{% extends './base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/error.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/detail.css' %}">
{% endblock %}


{% block body %}
    {% if error %}
        {% include 'blog/error.html' with error=error %}
    {% endif %}
    
    {% include './nav.html' %}

    <main>
        <div id='post'>
            <div id='post-header'>
                <h1 class='post-title'>{{ post.title }}</h1>
    
                {% if post.author == request.user %}
                    <form action='/post/{{ post_id }}/delete/' method='post' id='post-delete'>
                        {% csrf_token %}
                        <input type='submit' value='Delete post' class='error'>
                    </form>
                {% endif %}
            </div>
            {% if post.image %}
                <img src='{{ post.image.url }}' alt='the image of this post' id='post-image'>
            {% endif %}
            <p class='post-p'>{{ post.content }}</p>
            <div id='post-footer'>
                <span class='post-meta'>By: &nbsp; {{ post.author }}</span>
                <span class='post-meta'>Published: &nbsp; {{ post.pub_date }}</span>
            </div>
        </div>

        <div id='comments-container'>
            <h3>Comments</h3>
            <hr>
            <div id='comments'>
                {% if comments %}
                    {% for comment in comments %}
                        <div class='comment'>
                            <div class='comment-meta'>
                                <div class='comment-meta-main'>
                                    <span class='comment-author'>{{ comment.author }}</span>
                                    <span class='comment-date'> - {{ comment.pub_date }}</span>
                                </div>
                                {% if comment.author == user %}
                                    <form action='/comment/delete/' method='POST' class='comment-delete-form'>
                                        {% csrf_token %}
                                        <input type='hidden' name='post_id' value='{{ post_id }}'>
                                        <input type='hidden' name='comment_id' value='{{ comment.id }}'>
                                        <input type='submit' value='Delete comment' class='comment-delete error'>
                                    </form>
                                {% endif %}
                            </div>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                    {% else %}
                        <span id='no-comments'>There are no comments yet</span>
                {% endif %}
            </div>
        </div>
        <hr>
        <div id='comment-form'>
            <form action='/comment/' method='post' id='comment-form'>
                {% csrf_token %}
                <input type='hidden' name='post_id' value='{{ post_id }}'>
                {{ comment_form }}
                <input type='submit' value='Submit' class='submit'>
            </form>
        </div>
    </main>

    {% include './footer.html' %}
{% endblock %}